adf-template/adf.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "estateai"
        },
        "AF_CSVtoXML_functionKey": {
            "type": "secureString",
            "metadata": "Secure string for 'functionKey' of 'AF_CSVtoXML'"
        },
        "AzureBlobStorage1_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
        },
        "AF_CSVtoXML_properties_typeProperties_functionAppUrl": {
            "type": "string",
            "defaultValue": "https://kh-csvtoxml.azurewebsites.net"
        },
        "CityOfNewYorkData_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://data.cityofnewyork.us/"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/Copy CSV and Convert to XML')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "AzFunc - ConvertCSVToXML",
                        "type": "AzureFunctionActivity",
                        "dependsOn": [
                            {
                                "activity": "Copy CSV to Azure Function Store",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "functionName": "ConvertCSVtoXML",
                            "method": "POST",
                            "headers": {},
                            "body": {
                                "value": "{\"filename\": \"@{pipeline().parameters.CSVFileToCopy}\", \"outfile\" :  \"@{pipeline().parameters.XMLFileToCreate}\"}",
                                "type": "Expression"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "AF_CSVtoXML",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Copy CSV to Azure Function Store",
                        "description": "Copy external CSV file to Azure Function store for processing.",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "HttpReadSettings",
                                    "requestMethod": "GET"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobStorageWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextWriteSettings",
                                    "quoteAllText": true,
                                    "fileExtension": ".txt"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "mappings": [
                                    {
                                        "source": {
                                            "name": "BOROUGH",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "BOROUGH",
                                            "type": "String",
                                            "physicalType": "String"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "GRADE ",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "GRADE ",
                                            "type": "String",
                                            "physicalType": "String"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "PROGRAM TYPE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "PROGRAM TYPE",
                                            "type": "String",
                                            "physicalType": "String"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "CORE SUBJECT (MS CORE and 9-12 ONLY)",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "CORE SUBJECT (MS CORE and 9-12 ONLY)",
                                            "type": "String",
                                            "physicalType": "String"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "CORE COURSE (MS CORE and 9-12 ONLY)",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "CORE COURSE (MS CORE and 9-12 ONLY)",
                                            "type": "String",
                                            "physicalType": "String"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "SERVICE CATEGORY(K-9* ONLY)",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "SERVICE CATEGORY(K-9* ONLY)",
                                            "type": "String",
                                            "physicalType": "String"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "NUMBER OF STUDENTS / SEATS FILLED",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "NUMBER OF STUDENTS / SEATS FILLED",
                                            "type": "String",
                                            "physicalType": "String"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "NUMBER OF SECTIONS",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "NUMBER OF SECTIONS",
                                            "type": "String",
                                            "physicalType": "String"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "AVERAGE CLASS SIZE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "AVERAGE CLASS SIZE",
                                            "type": "String",
                                            "physicalType": "String"
                                        }
                                    }
                                ],
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "NYCSchoolSize",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "NYCSchoolSize_CSV",
                                "type": "DatasetReference",
                                "parameters": {
                                    "fileName": {
                                        "value": "@pipeline().parameters.CSVFileToCopy",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ]
                    }
                ],
                "parameters": {
                    "CSVFileToCopy": {
                        "type": "string",
                        "defaultValue": "2010-2011_Class_Size_-_Borough_Summary.csv"
                    },
                    "XMLFileToCreate": {
                        "type": "string",
                        "defaultValue": "out.xml"
                    }
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AF_CSVtoXML')]",
                "[concat(variables('factoryId'), '/datasets/NYCSchoolSize')]",
                "[concat(variables('factoryId'), '/datasets/NYCSchoolSize_CSV')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/NYCSchoolSize')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "CityOfNewYorkData",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "HttpServerLocation",
                        "relativeUrl": "api/views/7yds-6i8e/rows.csv?accessType=DOWNLOAD"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "BOROUGH",
                        "type": "String"
                    },
                    {
                        "name": "GRADE ",
                        "type": "String"
                    },
                    {
                        "name": "PROGRAM TYPE",
                        "type": "String"
                    },
                    {
                        "name": "CORE SUBJECT (MS CORE and 9-12 ONLY)",
                        "type": "String"
                    },
                    {
                        "name": "CORE COURSE (MS CORE and 9-12 ONLY)",
                        "type": "String"
                    },
                    {
                        "name": "SERVICE CATEGORY(K-9* ONLY)",
                        "type": "String"
                    },
                    {
                        "name": "NUMBER OF STUDENTS / SEATS FILLED",
                        "type": "String"
                    },
                    {
                        "name": "NUMBER OF SECTIONS",
                        "type": "String"
                    },
                    {
                        "name": "AVERAGE CLASS SIZE",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/CityOfNewYorkData')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/NYCSchoolSize_CSV')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorage1",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "fileName": {
                        "type": "string",
                        "defaultValue": "2010-2011_Class_Size_-_Borough_Summary.csv"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": {
                            "value": "@dataset().fileName",
                            "type": "Expression"
                        },
                        "folderPath": "csv",
                        "container": "files"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "BOROUGH",
                        "type": "String"
                    },
                    {
                        "name": "GRADE ",
                        "type": "String"
                    },
                    {
                        "name": "PROGRAM TYPE",
                        "type": "String"
                    },
                    {
                        "name": "CORE SUBJECT (MS CORE and 9-12 ONLY)",
                        "type": "String"
                    },
                    {
                        "name": "CORE COURSE (MS CORE and 9-12 ONLY)",
                        "type": "String"
                    },
                    {
                        "name": "SERVICE CATEGORY(K-9* ONLY)",
                        "type": "String"
                    },
                    {
                        "name": "NUMBER OF STUDENTS / SEATS FILLED",
                        "type": "String"
                    },
                    {
                        "name": "NUMBER OF SECTIONS",
                        "type": "String"
                    },
                    {
                        "name": "AVERAGE CLASS SIZE",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AF_CSVtoXML')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureFunction",
                "typeProperties": {
                    "functionAppUrl": "[parameters('AF_CSVtoXML_properties_typeProperties_functionAppUrl')]",
                    "functionKey": {
                        "type": "SecureString",
                        "value": "[parameters('AF_CSVtoXML_functionKey')]"
                    },
                    "authentication": "Anonymous"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/CityOfNewYorkData')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "HttpServer",
                "typeProperties": {
                    "url": "[parameters('CityOfNewYorkData_properties_typeProperties_url')]",
                    "enableServerCertificateValidation": true,
                    "authenticationType": "Anonymous"
                }
            },
            "dependsOn": []
        }
    ]
}